{
    "openapi": "3.0.0",
    "info": {
        "version": "3.0.0",
        "title": "allinjob API Docs",
        "description": "올인잡 api 문서입니다"
    },
    "host": "allinjob.co.kr",
    "servers": [
        {
            "url": "http://localhost:4000"
        },
        {
            "url": "https://allinjob.co.kr"
        }
    ],
    "basePath": "/",
    "tags": [
        {
            "name": "Users",
            "description": "User관련 API"
        },
        {
            "name": "Auth",
            "description": "로그인 관련 API"
        },
        {
            "name": "Crawling",
            "description": "크롤링 데이터 조회 API"
        },
        {
            "name": "Community",
            "description": "취준job담 API"
        }
    ],
    "schemes": ["http", "https"],
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            },
            "CookieAuth": {
                "type": "apiKey",
                "in": "cookie",
                "name": "refreshToken"
            }
        }
    },
    "paths": {
        "/user/findOneUserByEmail": {
            "get": {
                "tags": ["Users"],
                "summary": "회원가입한 유저 이메일 찾아오기",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "email",
                            "example": "abc@abc.com"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "응답 성공",
                        "content": {
                            "application/json": {
                                "example": {
                                    "value": {
                                        "data": {
                                            "id": "adfhttwerqwrasxczx",
                                            "email": "abc@abc.com",
                                            "provider": "kakao, naver, google",
                                            "name": "홍길동",
                                            "nickname": "닉네임",
                                            "phone": "01012345678",
                                            "profileImage": "awihqwifbjqjfbo",
                                            "major": "컴퓨터공학",
                                            "interests": [
                                                {
                                                    "id": "asdsadasdasdasdasdsef",
                                                    "userId": "adfhttwerqwrasxczx",
                                                    "interestId": "adwwafefewfsdfdsgew",
                                                    "keywordId": "asdwfwgregrerfsfsefe",
                                                    "interest": {
                                                        "id": "adwwafefewfsdfdsgew",
                                                        "interest": "공모전, 대외활동, 자격증, 어학, 인턴"
                                                    },
                                                    "keyword": {
                                                        "id": "asdwfwgregrerfsfsefe",
                                                        "keyword": "기획/아이디어, 광고/마케팅, 사진/영상/UCC, 디자인/순수예술/공예, 네이밍/슬로건, 캐릭터/만화/게임, 건축/건설/인테리어, 과학/공학, 예체능/패션, 전시/패션, 문학/시나리오, 해외, 학술, 창업, 기타, 서포터즈, 해외탐방/무료, 해외탐방/유료, 봉사단/해외, 봉사단/국내, 마케터, 기자단, 강연, 멘토링, 경영/회계/사무, 보건/의료, 문화예술/다지안/방송, 사회복지/종교, 이용/숙박/여행/오락/스포츠, 음식서비스, 기계, 정보통신, 식품/가공, 환경/에너지, TOEIC, TOEIC.speaking and writing tests, TOEFL, TOEIC bridge, TOEIC bridge.speaking and writing tests, 대기업, 중소기업, 공공기관/공기업, 외국계기업, 중견기업, 비영리단체/협회/재단, 동아리/학생자치단체"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "provider": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "nickname": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string"
                                                },
                                                "profileImage": {
                                                    "type": "string"
                                                },
                                                "major": {
                                                    "type": "string"
                                                },
                                                "interests": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "userId": {
                                                                "type": "string"
                                                            },
                                                            "interestId": {
                                                                "type": "string"
                                                            },
                                                            "keywordId": {
                                                                "type": "string"
                                                            },
                                                            "interest": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "interest": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "keyword": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "keyword": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "요청 형식 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "email must be an email"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "회원가입한 유저가 없는 경우",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "회원가입한 유저가 없습니다"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "서버 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "서버 문제"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/findOneUserByID": {
            "get": {
                "tags": ["Users"],
                "summary": "아이디 찾기",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "홍길동"
                        },
                        "description": "이름"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "example": "01012345678"
                        },
                        "description": "전화번호"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "응답 성공",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "email": "abc@abc.com",
                                        "provider": "kakao, naver, google"
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "email": {
                                                    "type": "string"
                                                },
                                                "provider": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "요청 형식 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": [
                                        "name : name must be a string",
                                        "phone : phone must be a string"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "일치하는 아이디가 없는 경우",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "일치하는 아이디가 없습니다"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "서버 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "서버 문제"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/createUser": {
            "post": {
                "tags": ["Users"],
                "summary": "회원가입하기",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "abc@abc.com"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "홍길동"
                                    },
                                    "nickname": {
                                        "type": "string",
                                        "example": "닉네임"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "01012345678"
                                    },
                                    "profileImage": {
                                        "type": "string",
                                        "example": "profile url"
                                    },
                                    "major": {
                                        "type": "string",
                                        "example": "컴퓨터공학"
                                    },
                                    "interests": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "competition": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "기획/아이디어",
                                                        "과학/공학"
                                                    ]
                                                },
                                                "outside": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "서포터즈",
                                                        "멘토링"
                                                    ]
                                                },
                                                "intern": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "대기업",
                                                        "중견기업"
                                                    ]
                                                },
                                                "language": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "toeic",
                                                        "toeicWT",
                                                        "ch"
                                                    ]
                                                },
                                                "qnet": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "기계",
                                                        "정보통신"
                                                    ]
                                                }
                                            }
                                        },
                                        "example": [
                                            {
                                                "competition": [
                                                    "기획/아이디어",
                                                    "과학/공학"
                                                ]
                                            },
                                            {
                                                "outside": [
                                                    "서포터즈",
                                                    "멘토링"
                                                ]
                                            },
                                            {
                                                "intern": ["대기업", "중견기업"]
                                            },
                                            {
                                                "language": [
                                                    "toeic",
                                                    "toeicWT",
                                                    "ch"
                                                ]
                                            },
                                            {
                                                "qnet": ["기계", "정보통신"]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "응답 성공",
                        "content": {
                            "application/json": {
                                "summary": "일치하는 이메일이 없는 경우",
                                "description": "생성된 유저 ID 반환 및 쿠키에 이메일 전송",
                                "example": {
                                    "data": "asdwfsdvrgsdfaefesfgsefe"
                                },
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "요청 형식 에러",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "TypeError": {
                                        "summary": "타입이 일치하지 않는 경우",
                                        "value": {
                                            "data": {
                                                "email": "email must be an email",
                                                "provider": "provider must be a string",
                                                "name": "name must be a string",
                                                "nickname": "nickname must be a string",
                                                "phone": "phone must be a string",
                                                "profileImage": "profileImage must be a string",
                                                "major": "major must be a string",
                                                "interest": "interest must be a string",
                                                "keyword": "keyword must be a string"
                                            }
                                        }
                                    },
                                    "NoLogin": {
                                        "summary": "소셜로그인한 이메일과 일치하지 않는 경우",
                                        "value": {
                                            "data": "로그인한 이메일과 일치하지 않습니다."
                                        }
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "string"
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "서버 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "서버 문제"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/sendTokenSMS": {
            "post": {
                "tags": ["Users"],
                "summary": "문자 인증번호 요청하기",
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "01012345678"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SMS 토큰 전송",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "SMS 토큰 전송 성공": {
                                        "value": {
                                            "data": true
                                        }
                                    },
                                    "SMS 토큰 전송 실패": {
                                        "value": {
                                            "data": false
                                        }
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "true": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        {
                                            "properties": {
                                                "false": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "요청 형식 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": ["phone : phone must be a string"]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "서버 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "서버 문제"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/validateToken": {
            "post": {
                "tags": ["Users"],
                "summary": "문자 인증번호 검증하기",
                "description": "",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "token": {
                                        "type": "number",
                                        "example": 11111
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "01012345678"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SMS 토큰 검증",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "SMS 토큰 검증 성공": {
                                        "value": {
                                            "data": true
                                        }
                                    },
                                    "SMS 토큰 검증 실패": {
                                        "value": {
                                            "data": false
                                        }
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "true": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        {
                                            "properties": {
                                                "false": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "요청 형식 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": [
                                        "token : token must be a number",
                                        "phone : phone must be a string"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "서버 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "서버 문제"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/crawling/main/{path}": {
            "get": {
                "tags": ["Crawling"],
                "summary": "main page 12개(조회수 기준으로) 조회하기",
                "parameters": [
                    {
                        "name": "path",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "format": "path",
                            "example": "outside"
                        },
                        "description": "데이터 조회 outside:대외활동, intern:인턴 , competition:공모전, qnet:자격증, community: 취준job담"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "응답 성공",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "outsideData": {
                                        "summary": "대외활동 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "대외활동 id : asdasda",
                                                    "Dday": "남은 일수 : D-10",
                                                    "title": "제목 : 모집",
                                                    "view": 100,
                                                    "mainImage": "이미지 url",
                                                    "institution": "주최기관 : 대기업",
                                                    "date": "접수기간 : 23.9.12 ~ 23.9.18"
                                                }
                                            ]
                                        }
                                    },
                                    "internData": {
                                        "summary": "인턴 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "인턴 id : adfhttwerqwrasxczx",
                                                    "Dday": "남은 일수 : D-10",
                                                    "title": "제목",
                                                    "view": 100,
                                                    "mainImage": "이미지 url : awihqwifbjqjfbo",
                                                    "institution": "주체 기관 : 대기업",
                                                    "date": "접수 기간 : 23.8.28 ~ 23.9.11"
                                                }
                                            ]
                                        }
                                    },
                                    "competitionData": {
                                        "summary": "공모전 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "공모전 id : adfhttwerqwrasxczx",
                                                    "Dday": "남은 일수 : D-10",
                                                    "title": "제목",
                                                    "view": 100,
                                                    "mainImage": "이미지 url : awihqwifbjqjfbo",
                                                    "institution": "주체 기관 : 공공기관/공기업",
                                                    "date": "접수 기간 : 23.8.28 ~ 23.9.11"
                                                }
                                            ]
                                        }
                                    },
                                    "qnetData": {
                                        "summary": "자격증 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "자격증 id : adfhttwerqwrasxczx",
                                                    "title": "자격증명 : 에너지산업기사",
                                                    "engTitle": "자격증 영어명 : Engineer Energy Management or null",
                                                    "relatedDepartment": "과련부처 : 통겨청",
                                                    "institution": "시행기관 : 한국산업인력공단",
                                                    "examSchedules": [
                                                        {
                                                            "id": "회차 id : adfhttwerqwrasxczx",
                                                            "turn": "회차 : 2023년정기기사4회",
                                                            "wtReceipt": "필기 접수 기간 : 2023.08.07~2023.08.10[빈자리접수:2023.08.27~2023.08.28]",
                                                            "wtDday": "필기 시험 날짜 : 2023.09.02~2023.09.17",
                                                            "wtResultDay": "필기 시험 발표 날짜 : 2023.09.22",
                                                            "ptReceipt": "실기 접수 기간 : 2023.09.04~2023.09.07빈자리접수:2023.10.01~2023.10.02",
                                                            "ptDday": "실기 시험 날짜 : 2023.10.07~2023.10.26",
                                                            "resultDay": "최종합격자 발표일 : 2023.11.15"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "communituData": {
                                        "summary": "취중job담 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "커뮤니티 id : 255617b0-446c-477e-96c9-cb9fe54bc6cc",
                                                    "category": "경로 : 공모전/대외활동",
                                                    "title": "제목 : 공모전 활동",
                                                    "detail": "상세내용 : html코드",
                                                    "date": "등록 시간 : 2023-09-16",
                                                    "view": 0,
                                                    "likeCount": 0,
                                                    "commentCount": 0,
                                                    "userId": "유저 아이디 :255617b0-446c-477e-96c9-cb9fe54bc6cc",
                                                    "user": {
                                                        "id": "e03c1b88-0b4f-46fb-90a8-ccb349c044d7",
                                                        "email": "mna800@naver.com",
                                                        "provider": "kakao",
                                                        "name": "홍길동",
                                                        "nickname": "닉네임",
                                                        "phone": "01012345678",
                                                        "profileImage": "profile url",
                                                        "major": "컴퓨터공학"
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "hompage": {
                                                    "type": "string"
                                                },
                                                "turn": {
                                                    "type": "string | null"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "resultDay": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "engTitle": {
                                                    "type": "string | null"
                                                },
                                                "relatedDepartment": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "examSchedules": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "turn": {
                                                                "type": "string"
                                                            },
                                                            "wtReceipt": {
                                                                "type": "string"
                                                            },
                                                            "wtDday": {
                                                                "type": "string"
                                                            },
                                                            "wtResultDay": {
                                                                "type": "string"
                                                            },
                                                            "ptReceipt": {
                                                                "type": "string"
                                                            },
                                                            "ptDday": {
                                                                "type": "string"
                                                            },
                                                            "resultDay": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "itmes": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "detail": {
                                                        "type": "string"
                                                    },
                                                    "view": {
                                                        "type": "number"
                                                    },
                                                    "likeCount": {
                                                        "type": "number"
                                                    },
                                                    "commentCount": {
                                                        "type": "number"
                                                    },
                                                    "userId": {
                                                        "type": "stiring"
                                                    },
                                                    "user": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "user": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "email": {
                                                                        "type": "string"
                                                                    },
                                                                    "provider": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "nickname": {
                                                                        "type": "string"
                                                                    },
                                                                    "phone": {
                                                                        "type": "string"
                                                                    },
                                                                    "profileImage": {
                                                                        "type": "string"
                                                                    },
                                                                    "major": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "서버 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "서버 문제"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/crawling/finde": {
            "get": {
                "tags": ["Crawling"],
                "summary": "크롤링 데이터 리스트 조회하기",
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "path",
                            "example": "outside"
                        },
                        "description": "크롤링 데이터 ( outside:대외활동, intern:인턴 , competition:공모전, qnet:자격증, (언어는 여러개 조회 가능 toeic,toeicBR,toeicSW,toeicWT,toeicST,ch,jp,jpSP)"
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "format": "count",
                            "example": "true"
                        },
                        "description": "path 경로에 따른 전체 개수 조회"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "page",
                            "example": "1"
                        },
                        "description": "페이지 네이션 (자격증 제외)"
                    },
                    {
                        "name": "field",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "filed",
                            "example": "서포터즈,기타"
                        },
                        "description": "대외활동 (활동분야 검색) 복수형태는 , 로 구분"
                    },
                    {
                        "name": "interests",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "interests",
                            "example": "교육,기타"
                        },
                        "description": "대외활동 (관심분야 검색), 공모전(공모분야) 복수형태는 , 로 구분"
                    },
                    {
                        "name": "benefits",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "benefits",
                            "example": "활동비,사은품 지급"
                        },
                        "description": "대외활동 (활동혜택 검색), 공모전(수상혜택) 복수형태는 , 로 구분"
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "location",
                            "example": "서울,대전"
                        },
                        "description": "대외활동,인턴 (지역 검색) 복수형태는 , 로 구분"
                    },
                    {
                        "name": "institution",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "institution",
                            "example": "중소기업"
                        },
                        "description": "인턴 (규모로 검색)"
                    },
                    {
                        "name": "preferentialTreatment",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "preferentialTreatment",
                            "example": "서비스,생산/제조"
                        },
                        "description": "인턴 (모집직무로 검색) 복수형태는 , 로 구분"
                    },
                    {
                        "name": "scale",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "scale",
                            "example": "100"
                        },
                        "description": "공모전 (시상 규모) 1억단위 10000 / 이상,이하"
                    },
                    {
                        "name": "target",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "target",
                            "example": "대학생,청소년"
                        },
                        "description": "공모전 (지원대상)"
                    },
                    {
                        "name": "mainCategory",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "mainCategory",
                            "example": "환경.에너지"
                        },
                        "description": "대분류 (q-net)"
                    },
                    {
                        "name": "subCategory",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "subCategory",
                            "example": "환경"
                        },
                        "description": "중분류 (q-net)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "응답 성공",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "dataLength": {
                                        "summary": "path 경로에 따른 데이터 개수",
                                        "value": {
                                            "data": 60
                                        }
                                    },
                                    "outsideData": {
                                        "summary": "대외활동 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "대외활동 id : asdasda",
                                                    "Dday": "남은 일수 : D-10",
                                                    "title": "제목 : 모집",
                                                    "view": 100,
                                                    "mainImage": "이미지 url",
                                                    "institution": "주최기관 : 대기업",
                                                    "date": "접수기간 : 23.9.12 ~ 23.9.18"
                                                }
                                            ]
                                        }
                                    },
                                    "internData": {
                                        "summary": "인턴 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "인턴 id : adfhttwerqwrasxczx",
                                                    "Dday": "남은 일수 : D-10",
                                                    "title": "제목",
                                                    "view": 100,
                                                    "mainImage": "이미지 url : awihqwifbjqjfbo",
                                                    "institution": "주체 기관 : 대기업",
                                                    "date": "접수 기간 : 23.8.28 ~ 23.9.11"
                                                }
                                            ]
                                        }
                                    },
                                    "competitionData": {
                                        "summary": "공모전 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "공모전 id : adfhttwerqwrasxczx",
                                                    "Dday": "남은 일수 : D-10",
                                                    "title": "제목",
                                                    "view": 100,
                                                    "mainImage": "이미지 url : awihqwifbjqjfbo",
                                                    "institution": "주체 기관 : 공공기관/공기업",
                                                    "date": "접수 기간 : 23.8.28 ~ 23.9.11"
                                                }
                                            ]
                                        }
                                    },
                                    "languageData": {
                                        "summary": "언어별 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "언어별 id : adfhttwerqwrasxczx",
                                                    "path": "조회 목록 : toeic,toeicBR",
                                                    "homePage": "접수 홈페이지 : http://~~",
                                                    "turn": "회차 : 1회차 or null",
                                                    "Dday": "시험날짜 : 2023.11.26(일)오전9시20분",
                                                    "resultDay": "결과 발표 날짜 : 2023.12.06(수)낮12시",
                                                    "date": "접수 기간 : 정기접수:2023.10.09(월)오전10시~2023.11.13(월)오전10시특별추가:2023.11.15(수)오전10시~2023.11.23(목)낮12시"
                                                }
                                            ]
                                        }
                                    },
                                    "qnetData": {
                                        "summary": "자격증 데이터",
                                        "value": {
                                            "data": [
                                                {
                                                    "id": "자격증 id : adfhttwerqwrasxczx",
                                                    "title": "자격증명 : 에너지산업기사",
                                                    "engTitle": "자격증 영어명 : Engineer Energy Management or null",
                                                    "relatedDepartment": "과련부처 : 통겨청",
                                                    "institution": "시행기관 : 한국산업인력공단",
                                                    "examSchedules": [
                                                        {
                                                            "id": "회차 id : adfhttwerqwrasxczx",
                                                            "turn": "회차 : 2023년정기기사4회",
                                                            "wtReceipt": "필기 접수 기간 : 2023.08.07~2023.08.10[빈자리접수:2023.08.27~2023.08.28]",
                                                            "wtDday": "필기 시험 날짜 : 2023.09.02~2023.09.17",
                                                            "wtResultDay": "필기 시험 발표 날짜 : 2023.09.22",
                                                            "ptReceipt": "실기 접수 기간 : 2023.09.04~2023.09.07빈자리접수:2023.10.01~2023.10.02",
                                                            "ptDday": "실기 시험 날짜 : 2023.10.07~2023.10.26",
                                                            "resultDay": "최종합격자 발표일 : 2023.11.15"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "number"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "hompage": {
                                                    "type": "string"
                                                },
                                                "turn": {
                                                    "type": "string | null"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "resultDay": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "engTitle": {
                                                    "type": "string | null"
                                                },
                                                "relatedDepartment": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "examSchedules": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "turn": {
                                                                "type": "string"
                                                            },
                                                            "wtReceipt": {
                                                                "type": "string"
                                                            },
                                                            "wtDday": {
                                                                "type": "string"
                                                            },
                                                            "wtResultDay": {
                                                                "type": "string"
                                                            },
                                                            "ptReceipt": {
                                                                "type": "string"
                                                            },
                                                            "ptDday": {
                                                                "type": "string"
                                                            },
                                                            "resultDay": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "서버 에러",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "서버 문제"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/crawling/findeDetail": {
            "get": {
                "tags": ["Crawling"],
                "summary": "크롤링 데이터 상세 조회",
                "parameters": [
                    {
                        "name": "path",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "path",
                            "example": "outside"
                        },
                        "description": "크롤링 데이터 ( outside:대외활동, intern:인턴 , competition:공모전, qnet:자격증, 언어 : toeic,toeicBR,toeicSW,toeicWT,toeicST,ch,jp,jpSP)"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "id",
                            "example": "02c3c0fd-5716-4982-8347-30920d1f409d"
                        },
                        "description": "크롤링 데이터 id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "응답 성공",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "outsideData": {
                                        "summary": "대외활동 데이터",
                                        "value": {
                                            "data": {
                                                "id": "대외활동 id : asdasda",
                                                "Dday": "남은 일수 : D-10",
                                                "title": "제목 : 모집",
                                                "view": 100,
                                                "mainImage": "이미지 url",
                                                "organization": "조직 : (주)~~",
                                                "institution": "주최기관 : 대기업",
                                                "date": "접수기간 : 23.9.12 ~ 23.9.18",
                                                "participationPeriod": "활동기간 : 23.10.4 ~ 23.12.31",
                                                "preferentialTreatment": "우대상항 : 컴퓨터 활용능력, 휴학 중/시간 투자 가능",
                                                "personnel": "모집 인원 : 10명",
                                                "target": "참여 대상 : 대학생",
                                                "location": "지역 : 서울",
                                                "hompage": "주체 홈페이지 :awihqwifbjqjfbo",
                                                "benefits": "활동 혜택 : 활동비,입사시 혜택",
                                                "interests": "관심 분야 : 콘텐츠, 디자인/사진/영상",
                                                "field": "활동 분야 : 서포터즈 마케터",
                                                "detail": "html 코드"
                                            }
                                        }
                                    },
                                    "internData": {
                                        "summary": "인턴 데이터",
                                        "value": {
                                            "data": {
                                                "id": "인턴 id : adfhttwerqwrasxczx",
                                                "Dday": "남은 일수 : D-10",
                                                "title": "제목",
                                                "view": 100,
                                                "mainImage": "이미지 url : awihqwifbjqjfbo",
                                                "organization": "조직 : 한국정보인증",
                                                "institution": "주체 기관 : 대기업",
                                                "date": "접수 기간 : 23.8.28 ~ 23.9.11",
                                                "preferentialTreatment": "모집 직무 : IT/인터넷",
                                                "personnel": "채용인원 : 10명",
                                                "target": "채용형태 : 인턴",
                                                "location": "지역 : 서울",
                                                "hompage": "채용 홈페이지 : http://~~",
                                                "detail": "html 코드"
                                            }
                                        }
                                    },
                                    "competitionData": {
                                        "summary": "공모전 데이터",
                                        "value": {
                                            "data": {
                                                "id": "공모전 id : adfhttwerqwrasxczx",
                                                "Dday": "남은 일수 : D-10",
                                                "title": "제목",
                                                "view": 100,
                                                "mainImage": "이미지 url : awihqwifbjqjfbo",
                                                "organization": "조직 : 한국교육개발원",
                                                "institution": "주체 기관 : 공공기관/공기업",
                                                "date": "접수 기간 : 23.8.28 ~ 23.9.11",
                                                "scale": 100,
                                                "benefits": "활동 혜택 : 상장 수여",
                                                "target": "참여대상 : 청소년, 대학생",
                                                "interest": "공모분야 : 디자인/순수미술/공예",
                                                "hompage": "주체 홈페이지 : http://~~",
                                                "detail": "html 코드"
                                            }
                                        }
                                    },
                                    "languageData": {
                                        "summary": "언어별 데이터",
                                        "value": {
                                            "data": {
                                                "id": "언어별 id : adfhttwerqwrasxczx",
                                                "path": "조회 목록 : toeic,toeicBR",
                                                "homePage": "접수 홈페이지 : http://~~",
                                                "turn": "회차 : 1회차 or null",
                                                "Dday": "시험날짜 : 2023.11.26(일)오전9시20분",
                                                "resultDay": "결과 발표 날짜 : 2023.12.06(수)낮12시",
                                                "date": "접수 기간 : 정기접수:2023.10.09(월)오전10시~2023.11.13(월)오전10시특별추가:2023.11.15(수)오전10시~2023.11.23(목)낮12시"
                                            }
                                        }
                                    },
                                    "qnetData": {
                                        "summary": "자격증 데이터",
                                        "value": {
                                            "data": {
                                                "id": "자격증 id : adfhttwerqwrasxczx",
                                                "detail": "html 코드",
                                                "scheduleInfo": "시험 일정 설명 : html 코드",
                                                "title": "자격증명 : 에너지산업기사",
                                                "engTitle": "자격증 영어명 : Engineer Energy Management or null",
                                                "relatedDepartment": "과련부처 : 통겨청",
                                                "institution": "시행기관 : 한국산업인력공단",
                                                "examSchedules": [
                                                    {
                                                        "id": "회차 id : adfhttwerqwrasxczx",
                                                        "turn": "회차 : 2023년정기기사4회",
                                                        "wtReceipt": "필기 접수 기간 : 2023.08.07~2023.08.10[빈자리접수:2023.08.27~2023.08.28]",
                                                        "wtDday": "필기 시험 날짜 : 2023.09.02~2023.09.17",
                                                        "wtResultDay": "필기 시험 발표 날짜 : 2023.09.22",
                                                        "ptReceipt": "실기 접수 기간 : 2023.09.04~2023.09.07빈자리접수:2023.10.01~2023.10.02",
                                                        "ptDday": "실기 시험 날짜 : 2023.10.07~2023.10.26",
                                                        "resultDay": "최종합격자 발표일 : 2023.11.15"
                                                    }
                                                ],
                                                "subCategoryId": "서브카테고리 id : adfhttwerqwrasxczx"
                                            }
                                        }
                                    }
                                },
                                "schema": {
                                    "oneOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "organization": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                },
                                                "participationPeriod": {
                                                    "type": "string"
                                                },
                                                "preferentialTreatment": {
                                                    "type": "string"
                                                },
                                                "personnel": {
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "type": "string"
                                                },
                                                "hompage": {
                                                    "type": "string"
                                                },
                                                "benefits": {
                                                    "type": "string"
                                                },
                                                "interests": {
                                                    "type": "string"
                                                },
                                                "field": {
                                                    "type": "string"
                                                },
                                                "detail": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "organization": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                },
                                                "preferentialTreatment": {
                                                    "type": "string"
                                                },
                                                "personnel": {
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "type": "string"
                                                },
                                                "hompage": {
                                                    "type": "string"
                                                },
                                                "detail": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "view": {
                                                    "type": "number"
                                                },
                                                "mainImage": {
                                                    "type": "string"
                                                },
                                                "organization": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                },
                                                "scale": {
                                                    "type": "number"
                                                },
                                                "benefits": {
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "type": "string"
                                                },
                                                "interest": {
                                                    "type": "string"
                                                },
                                                "hompage": {
                                                    "type": "string"
                                                },
                                                "detail": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "hompage": {
                                                    "type": "string"
                                                },
                                                "turn": {
                                                    "type": "string | null"
                                                },
                                                "Dday": {
                                                    "type": "string"
                                                },
                                                "resultDay": {
                                                    "type": "string"
                                                },
                                                "date": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "detail": {
                                                    "type": "string"
                                                },
                                                "scheduleInfo": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "engTitle": {
                                                    "type": "string | null"
                                                },
                                                "relatedDepartment": {
                                                    "type": "string"
                                                },
                                                "institution": {
                                                    "type": "string"
                                                },
                                                "examSchedules": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "turn": {
                                                                "type": "string"
                                                            },
                                                            "wtReceipt": {
                                                                "type": "string"
                                                            },
                                                            "wtDday": {
                                                                "type": "string"
                                                            },
                                                            "wtResultDay": {
                                                                "type": "string"
                                                            },
                                                            "ptReceipt": {
                                                                "type": "string"
                                                            },
                                                            "ptDday": {
                                                                "type": "string"
                                                            },
                                                            "resultDay": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "subCategoryId": {
                                                    "type": "string"
                                                }
[...]
